{
  "tabWidth": 2,
  "userTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
